<!doctype html>
<html>
    <head>
        {% if title %}
        <title style="color: darkcyan; font-family: sans-serif;font-size: xx-large;">{{ title }} - January with Philosophy</title>
        {% else %}
        <title style="color: darkcyan; font-family: sans-serif;font-size: xx-large;">Welcome to January with Philosophy</title>
        {% endif %}
    </head>
    <body>
        <div style="cursor: alias; color: darkturquoise;">January with Phylosophy: <a href="/index">Home</a></div>
        <hr>
        <div><a href="/quotes/1">01.Jan.</a>
        <a href="/quotes/2">02.Jan.</a>
        <a href="/quotes/3">03.Jan.</a>
        <a href="/quotes/4">04.Jan.</a>
        <a href="/quotes/5">05.Jan.</a>
        <a href="/quotes/6">06.Jan.</a>
        <a href="/quotes/7">07.Jan.</a>
        <a href="/quotes/8">08.Jan.</a>
        <a href="/quotes/9">09.Jan.</a>
        <a href="/quotes/10">10.Jan.</a>
        <a href="/quotes/11">11.Jan.</a>
        <a href="/quotes/12">12.Jan.</a>
        <a href="/quotes/13">13.Jan.</a>
        <a href="/quotes/14">14.Jan.</a>
        <a href="/quotes/15">15.Jan.</a>
        <br><a href="/quotes/16">16.Jan.</a>
        <a href="/quotes/17">17.Jan.</a>
        <a href="/quotes/18">18.Jan.</a>
        <a href="/quotes/19">19.Jan.</a>
        <a href="/quotes/20">20.Jan.</a>
        <a href="/quotes/21">21.Jan.</a>
        <a href="/quotes/22">22.Jan.</a>
        <a href="/quotes/23">23.Jan.</a>
        <a href="/quotes/24">24.Jan.</a>
        <a href="/quotes/25">25.Jan.</a>
        <a href="/quotes/26">26.Jan.</a>
        <a href="/quotes/27">27.Jan.</a>
        <a href="/quotes/28">28.Jan.</a>
        <a href="/quotes/29">29.Jan.</a>
        <a href="/quotes/30">30.Jan.</a>
        <a href="/quotes/31">31.Jan.</a>
            <hr>
        {% block content %}{% endblock %}
    </body>
</html>