<!doctype html>
<html>
    <head>
        {% if title %}
        <title style="color: darkcyan; font-family: sans-serif;font-size: xx-large;">{{ title }} - January with Philosophy</title>
        {% else %}
        <title style="color: darkcyan; font-family: sans-serif;font-size: xx-large;">Welcome to January with Philosophy</title>
        {% endif %}
    </head>
    <body>
        <div style="cursor: alias; color: darkturquoise;">January with Philosophy: <a href="/index">Home</a></div>
        <hr>
        <div><a href="/date/1">01.Jan. </a>
        <a href="/date/2">02.Jan.</a>
        <a href="/date/3">03.Jan.</a>
        <a href="/date/4">04.Jan.</a>
        <a href="/date/5">05.Jan.</a>
        <a href="/date/6">06.Jan.</a>
        <a href="/date/7">07.Jan.</a>
        <a href="/date/8">08.Jan.</a>
        <a href="/date/9">09.Jan.</a>
        <a href="/date/10">10.Jan.</a>
        <a href="/date/11">11.Jan.</a>
        <a href="/date/12">12.Jan.</a>
        <a href="/date/13">13.Jan.</a>
        <a href="/date/14">14.Jan.</a>
        <a href="/date/15">15.Jan.</a>
        <a href="/date/16">16.Jan.</a>
        <br><a href="/date/17">17.Jan.</a>
        <a href="/date/18">18.Jan.</a>
        <a href="/date/19">19.Jan.</a>
        <a href="/date/20">20.Jan.</a>
        <a href="/date/21">21.Jan.</a>
        <a href="/date/22">22.Jan.</a>
        <a href="/date/23">23.Jan.</a>
        <a href="/date/24">24.Jan.</a>
        <a href="/date/25">25.Jan.</a>
        <a href="/date/26">26.Jan.</a>
        <a href="/date/27">27.Jan.</a>
        <a href="/date/28">28.Jan.</a>
        <a href="/date/29">29.Jan.</a>
        <a href="/date/30">30.Jan.</a>
        <a href="/date/31">31.Jan.</a>
            <hr>
        <div style="cursor: alias; color: darkturquoise;">January with Philosophy: <a href="/wholejanuary">January Overview</a></div>
            <hr>

        {% block content %}{% endblock %}
    </body>
</html>